* {
    font-family: "Montserrat";
    animation: bounceIn 1s;
}

html, body {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 36px;
}

img, iframe {
    width: 100%;
}

#header, #footer {
    padding: 16px 128px;
    box-sizing: border-box;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; /* Ensure the header is above other content */
}

@keyframes bounceIn {
    from {
        filter: opacity(0);
        transform: translateY(-20px);
    }
    to {
        filter: opacity(1);
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.25);
    }
}

@keyframes coloring {
    from {
        filter: grayscale(1);
    }
    to {
        filter: grayscale(0);
    }
}

#header h1 {
    font-size: 48px;
    margin: 0;
    /* animation: flash 1s infinite; */
    animation: bounceIn 1s;
}

section {
    padding: 64px 128px;
}

p {
    color: rgb(188, 188, 188);
    font-size: 18px;
}

#landing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#landing > div {
    width: 50%;
}

#landing p { /* All p inside .heading */
    margin-bottom: 30px;
}

a {
    text-decoration: none;
}

#landing a {
    margin-right: 12px;
}

.menu {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin: 0;
    display: flex; /* Use flexbox to align items horizontally */
}

.menu li {
    font-size: 24px;
}

.menu li a {
    color: rgb(255, 195, 82);
    padding: 5px 20px; 
}

.menu li a:hover {
    color: white;
    background: rgb(255, 195, 82);
}

a:active, button:active {
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

.btn {
    font-size: 20px;
    background-color: white;
    border: 2px solid rgb(255, 195, 82);
    color: black;
    padding: 5px 10px;
}

.btn-alt {
    background-color: rgb(255, 195, 82);
    color: white;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
}

#about > div {
    width: 50%;
}

.about-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 72px;
}

.about-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-items div {
    width: 50px;
    height: 10px;
    background-color: rgb(255, 195, 82);
    margin-bottom: 16px;
}

#service {
    display: flex;
    flex-direction: column;
}

.service-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service-header h1, .contact-header h1 {
    position: relative;
}

.service-header h1::before, .contact-header h1::before {
    content: "";
    width: 60px;
    height: 60px;
    background: url("images/accent2.svg");
    position: absolute;
    top: -20px;
    left: -10px;
    z-index: -1; /* send to back */
}

.service-contents {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 128px;
}

.service-items {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 10px #979797;
}

.service-items:hover {
    animation: zoomIn 0.5s forwards;
}

.service-items img {
    height: 100%;
    filter: grayscale(1);
}

.service-items:hover img {
    animation: coloring 0.5s forwards;
}

.service-items p, .service-items h2 {
    padding: 0px 16px;
}

.contact-contents {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 72px;
}

.input-name {
    grid-area: name;
}

.input-subject {
    grid-area: subject;
}

.input-email {
    grid-area: email;
}

.input-phone {
    grid-area: phone;
}

.input-message {
    grid-area: message;
}

form {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(255, 195, 82);
    padding: 32px 16px;
}

form h1 {
    text-align: center;
}

.form-group {
    display: grid;
    column-gap: 64px;
    margin-top: 32px;
    margin-bottom: 100px;
    grid-template-areas: "name subject"
                         "email phone"
                         "message message";
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input label {
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 20px;
}

form input {
    border: none;
    outline: none;
    border-bottom: 1px solid black;    
    font-size: 20px;
}

form input:focus {
    border-bottom: 2px solid rgb(255, 195, 82);
}

form input::placeholder {
    font-size: 16px;
}

#footer {
    background-color: rgb(255, 195, 82);
    color: white;
}

#footer p {
    color: white;
}

@media only screen and (max-width: 1758px) {
    #header, #footer {
        padding: 16px 32px;
    }

    section {
        padding: 64px 32px;
    }

    #landing {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #landing > div {
        width: 100%;
    }

    #about {
        flex-direction: column;
    }

    #about > div {
        width: 100%;
    }

    .service-contents {
        flex-direction: column;
        row-gap: 128px;
        padding: 0 64px;
    }

    .service-contents > div {
        width: 100%;
    }

    .contact-contents {
        flex-direction: column;
        row-gap: 128px;
        padding: 0 64px;
    }

    .contact-contents > div {
        width: 100%;
    }
}